:root {
    --main-color: #FA9147;
    --secondary-lighter: #003E6B;

    --font-size--2: clamp(0.6076rem, 0.5407rem + 0.3345vw, 0.8rem);
    --font-size--1: clamp(0.7292rem, 0.635rem + 0.471vw, 1rem);
    --font-size-0: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
    --font-size-1: clamp(1.05rem, 0.8717rem + 0.8913vw, 1.5625rem);
    --font-size-2: clamp(1.26rem, 1.0189rem + 1.2054vw, 1.9531rem);
    --font-size-3: clamp(1.512rem, 1.1887rem + 1.6164vw, 2.4414rem);
    --font-size-4: clamp(1.8144rem, 1.384rem + 2.1519vw, 3.0518rem);
    --font-size-5: clamp(2.1773rem, 1.6077rem + 2.8477vw, 3.8147rem);
}

* {
    margin: 0;
    background-color: var(--main-color);
    color: white;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    display: block;
    width: clamp(60px, 17vw, 70px);
    aspect-ratio: 1;
    transition: transform ease-in-out 0.2s;
}

a::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(/assets/controls/blue-arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 13px center;
    transform: scaleX(-1);
}

a:hover {
    transform: scale(1.1);
}

a:active {
    transform: scale(0.9);
}

main {
    padding: 1vh 4vw;
    flex: 1 1 0;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-family: "Noto Sans", "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-3);
    align-content: center;
    margin-bottom: 3vh;
}

.form-item {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", "Poppins", "Nunito Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--font-size-2);
    line-height: 1.5;
}

.form-item:first-child {
    margin-bottom: 1vh;
}

ul {
    height: min(23vh, 250px);
    text-align: center;
    overflow-y: scroll;
    list-style-position: inside;
    padding: 0;
    mask-image: linear-gradient(to bottom, transparent, black 5%, black 95%, transparent);
    scrollbar-color: var(--secondary-lighter) transparent;
    scrollbar-width: thin;
}

li {
    padding: 0.5vh 0;
    font-size: var(--font-size-1);
    text-align: left;
}

.list-item-container {
    width: 90%;
    justify-self: center;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.remove-item {
    border: none;
    background-image: url(../assets/controls/remove-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    width: min(8%, 25px);
    transition: transform ease-in-out 0.2s;
}

.remove-item:hover {
    transform: scale(1.1);
}

.remove-item:active {
    transform: scale(0.9);
}

input[type=tel],
input[type=email] {
    border: none;
    border-bottom: 2px solid white;
    line-height: 1.5;
    font-size: var(--font-size-1);
}

input[type=tel]:focus,
input[type=email]:focus {
    outline: none;
}

input[type=tel]:-webkit-autofill,
input[type=email]:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    box-shadow: 0 0 0 50px var(--main-color) inset;
}

input[type=submit] {
    display: block;
    margin: 4vh auto;
    background-color: var(--secondary-lighter);
    font-family: "Montserrat", "Poppins", "Nunito Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 13px 35px;
    border-radius: 10px;
    border: none;
    color: white;
    transition: transform ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

input[type=submit]:hover {
    transform: scale(1.1);
}

input[type=submit]:active {
    transform: scale(0.9);
    background-color: gray;
}

footer {
    display: none;
    flex: 1 1 0;
    align-content: end;
    text-align: center;
    padding-bottom: 3vh;
}

footer img {
    width: min(60vw, 300px);
}

@media (min-height: 760px) {
    footer {
        display: block;
    }
}