:root {
    --main-color: #FA9147;
    --secondary-color: #001626;
    --main-lighter: #FFD0AE;
    --activated-button: #003E6B;
}

* {
    margin: 0;
}

.main-carousel-controls,
.carousel-controls,
.pc-social-media,
.pc-menu,
.pc-logo {
    display: none;
}

body {
    font-family: "Montserrat", "Poppins", "Nunito Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Noto Sans", "Open Sans", "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.sticky-header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.sticky-header img {
    padding-top: 5px;
    width: 210px;
    height: 40px;
}

#burger-menu {
    background: none;
    border: none;
    padding: 0;
    width: 35px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#burger-menu span {
    background-color: var(--secondary-color);
    width: 100%;
    height: 10%;
}

.main-carousel-container {
    overflow: hidden;
    color: white;
    width: 100%;
    background-color: var(--main-lighter);
    height: 60vh;
    box-shadow: 0px 1px 5px gray;
    margin-bottom: 5vh
}

.main-carousel-track {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    /* right: 100%; */
    /* right: 200%; */
    /* Slide positions */
    width: 300%;
    height: calc(100% - 20px);
    padding: 10px 0;
}

.main-carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 30px;
}

.main-carousel-item:first-child {
    background-image: url(../assets/images/about-us-small.png);
}

.main-carousel-item:nth-child(2) {
    background-image: url(../assets/images/education-format-small.png);
}

.main-carousel-item:last-child {
    background-image: url(../assets/images/register-now-small.png);
}

.main-carousel-item h1, .main-carousel-item h2 {
    margin: 0 30px 20px;
}

.main-carousel-item a {
    display: block;
    width: 120px;
    margin: 10px auto;
    line-height: 1;
    text-decoration: none;
    color: white;
    background-color: #FA9147;
    padding: 15px;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.main-carousel-item a:hover {
    background-color: var(--activated-button);
}